{{- $posts := where .Site.RegularPages "Section" "posts" -}}
{{- $all := sort $posts "Date" "desc" -}}
{{- if gt (len $all) 0 -}}
<div class="home-posts list">
  <header>
    <!-- <h2 class="title">Latest writing</h2> -->
  </header>
  <ul>
    {{- range $all -}}
    <li>
      <span class="date">{{ .Date | time.Format (.Site.Params.dateFormat | default "January 2, 2006") }}</span>
      <a class="title" href="{{ .Params.externalLink | default .RelPermalink }}">{{ .Title }}</a>
    </li>
    {{- end -}}
  </ul>
</div>
{{- end -}}
